
.btn-color {
    background: #c41c1d;
    border-color: #c41c1d;
}

.btn-color:hover {
    background: #af1616;
    border-color: #af1616;
}

.main-header .dropdown-menu a:hover {
    background: transparent;
    color: #c41c1d;
}

.setting-button {
    background: #c41c1d;
}

.banner .banner-slider-inner p{
    color: #c41c1d;
}

.love-story-box .love-story-content {
    background: #c41c1d;
}

.love-story-box h4 {
    color: #c41c1d;
}

.close-offcanvas{
    color: #c41c1d;
}

#page_scroller {
    background:  #c41c1d;
}

.read-more {
    color: #c41c1d;
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: #c41c1d;
}

li.active.btn.filtr-button.filtr {
    color: #fff;
    background: #c41c1d;
}

.filteriz-navigation li:hover {
    color: #fff;
    background: #c41c1d;
}

.blog .date-box {
    background: #c41c1d;
}

.categories ul li a:hover {
    color: #c41c1d;
}

.popular-tags ul li a:hover {
    border: solid 1px #c41c1d;
    background: #c41c1d;
    color: #fff;
}

/** MEDIA **/
@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #c41c1d !important;
    }

    .navbar-light .navbar-toggler {
        color: #c41c1d;
    }
}

@media (min-width: 991px) {
    .sticky-header .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #fff !important;
    }

    .sticky-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fff !important;
        opacity: .8;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #515151 !important;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #515151 !important;
    }
}
